@media (min-width: 750px) {
  .contact-description,
  .projects-description,
  .hero-description {
    max-width: 80%;
  }
  .code,
  .live-site {
    padding-inline: 2rem;
  }
}

@media (min-width: 950px) {
  .desktop-nav {
    display: flex;
  }
  .ham-icon {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr 0.75fr;
    justify-items: left;
    margin-top: 2.5rem;
  }
  .hero-img {
    display: none;
  }
  .desktop-img {
    display: block;
    width: max(32.5vw, 20rem);
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
  }
  .hero-header {
    text-align: left;
    align-self: flex-end;
    font-size: 2.5rem;
  }
  .hero-description,
  .hero-tech,
  .projects-description,
  .contact-description {
    font-size: 1.15rem;
  }
  .hero-description {
    text-align: left;
    margin: 0;
  }
  .hero-tech {
    align-self: flex-start;
  }
  .projects {
    margin-top: 23rem;
  }
  .projects-header,
  .contact-header {
    font-size: 1.75rem;
  }
  .projects-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .project {
    max-width: 21rem;
  }
  .contact {
    margin: 17.5rem auto 12.5rem auto;
  }
  .contact-description {
    max-width: 50%;
  }
  .scroll {
    display: block;
  }
}
